:root { 
--gray_400:#b6b6b6; 
--black_900_33:#00000033; 
--black_900_b2:#000000b2; 
--black_900:#000000; 
--gray_900:#171616; 
--deep_orange_A700:#db2512; 
--black_900_3f:#0000003f; 
--white_A700:#ffffff; 
}